/* date range input div */
#daterangeinput {
	display: flex;
	justify-content: left;
	margin: 10px auto;
	margin-left: 4%;
}

/* flexbox row for the report file and image graph */
#row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	border: 2px solid black;
	width: 80%;
	margin: auto;
}

/* container for the iframe displaying the report file */
#reportfile {
	border: 2px solid black;
	text-align: center;
	margin: 10px;
	width: 26rem;
	overflow: scroll;

}

/* iframe displaying the report file */
#reportfile iframe {
	text-align: center;
	font-size: 100%;
	width:35rem;
	height: 50vh;
	white-space: nowrap;
	overflow: scroll;
	display: block;
}

/* container for the plot image */
#imageplot {
	width: 450px;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
}

/* plot image */
#imageplot img {
	width: 100%;
}

/* container for the download links */
#downloadlinks {
	margin: auto;
	margin-left: 4%;	
}

/* each download link */
#downloadlinks a {
	display: inline;
	text-decoration: none;
	font-size: 12px;
	margin-right: 30px;
	padding: 2px;
	border: 2px solid black;
	border-radius: 5px;
}
