/*
	navbar
*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #d0d0d0;
	
}

/*
	navbar items
*/
li {
	float: left;
	color: black;
	display: inline-block;
	padding: 14px 16px;
	
}

/*
	the links inside the navbar items
*/
li a {
	text-decoration: none;
	font-size: 16px;
}

/*
	hover behavior on navbar items
*/
li:hover {
	background-color: red;
}

/*
	centered header text
*/
#header h1 {
	font-size: 30px;
	text-align: center;
	margin: 10px;
	padding: 0px;
}
