/*
	date and time div
*/
#datetimediv p {
	display: inline-block;
}

/*
	flexbox container for weather data
*/
#flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*
	individual weather data display divs
*/
.weather_data_display {
	margin: 10px;
	border: 2px solid black;
}

/*
	contents of the individual weather data display divs
*/
.weather_data_display * {
	padding: 0px 10px;
}

/*
 * unit selector div
*/
#unitselector {
	width: 30%;
	margin: 10px auto;
	text-align: center;
	border: 2px solid gray;
	
}

/*
 * unit selection radio buttons
*/
#unitselector * {
	display: inline;
	
}

.valdiv {
	text-align: center;
	padding: 10px;
}

.valdiv p {
	font-size: 50px;
	display: inline; 
	padding: 0px;
}

/* the hidden element containing the value read from the database */
.valdiv .datadefault {
	display: none;
}

#dhttemp_val p {
	color: red;
}

#bmptemp_val p {
	color: orange;
}

#dhthumd_val p {
	color: blue;
}

#bmppres_val p {
	color: green;
}
