{% extends 'base.html' %}

{% block head %}
<!-- This page is the main page for the weather logger web application. It displays
    the current temperature, pressure, and humidity. -->
<title>Weather Logger Index Page</title>
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
<!-- main header -->
<script type="text/javascript">

</script>

<div id="header">
	<h1>Weather Logger Index Page</h1>
</div>

<!-- current date and time -->
<div id="datetimediv">
	<p style="font-weight: bold">Current date and time: </p>
	<p id="datetime">--/--/---- --:--</p>
</div>

<!-- flexbox for current weather values -->
<div id="flex-container">
	<!-- temperature display -->
	<div class="weather_data_display">
		<p class="datalabel">DHTTemperature</p>
		<div id="dhttemp_val" class="valdiv">
			<p class="data">--</p>
			<p class="datadefault">--</p>
			<p class="tempunit">°C</p>
		</div>
	</div>

	<!-- temperature display -->
	<div class="weather_data_display">
		<p class="datalabel">BMPTemperature</p>
		<div id="bmptemp_val" class="valdiv">
			<p class="data">--</p>
			<p class="datadefault">--</p>
			<p class="tempunit">°C</p>
		</div>
	</div>

	<!-- humidity display -->
	<div class="weather_data_display">
		<p class="datalabel">Relative Humidity</p>
		<div id="dhthumd_val" class="valdiv">
			<p class="data">--</p>
			<p class="datadefault">--</p>
			<p class="humdunit">%</p>
		</div>
	</div>

	<!-- pressure display -->
	<div class="weather_data_display">
		<p class="datalabel">Barometric Pressure</p>
		<div id="bmppres_val" class="valdiv">
			<p class="data">------</p>
			<p class="datadefault">--</p>
			<p class="presunit">Pa</p>
		</div>
	</div>
</div>

<!-- radio buttons for choosing units -->
<div id="unitselector">
	<form id="units">
		<label for="tempunits" style="font-weight: bold">Temperature units: </label>
		<input type="radio" name="tempunits" value="°C" checked></input>
		<label for="">°C</label>
		<input type="radio" name="tempunits" value="°F"></input>
		<label for="">°F</label>
		<input type="radio" name="tempunits" value="°K"></input>
		<label for="">°K</label><br>
		<label for="presunits" style="font-weight: bold">Pressure units: </label>
		<input type="radio" name="presunits" value="Pa" checked></input>
		<label for="">Pa</label>
		<input type="radio" name="presunits" value="Psi"></input>
		<label for="">Psi</label>
		<input type="radio" name="presunits" value="mmHg"></input>
		<label for="">mmHg</label>
	</form>
</div>
<script src="/static/js/index.js" charset="utf-8"></script>
{% endblock %}
