{% extends 'base.html' %}

{% block head %}
<!-- This page is the main page for the weather logger web application. It displays
    the current temperature, pressure, and humidity. -->
<title>Weather Logger Index Page</title>
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
<!-- main header -->
<div id="header">
	<h1>Weather Logger Index Page</h1>
</div>

<!-- current date and time -->
<div id="datetime">
	<p style="font-weight: bold">Current date and time: </p>
	<p id="datetime">02/27/2020 10:00</p>
</div>

<!-- flexbox for current weather values -->
<div id="flex-container">
	<!-- temperature display -->
	<div class="weather_data_display">
		<p class="datalabel">DHTTemperature</p>
		<div id="dhttemp_val" class="valdiv">
			<p class="data">28</p>
			<p class="tempunit">°C</p>
		</div>
	</div>
	
	<!-- temperature display -->
	<div class="weather_data_display">
		<p class="datalabel">BMPTemperature</p>
		<div id="bmptemp_val" class="valdiv">
			<p class="data">28</p>
			<p class="tempunit">°C</p>
		</div>
	</div>
	
	<!-- humidity display -->
	<div class="weather_data_display">
		<p class="datalabel">Relative Humidity</p>
		<div id="dhthumd_val" class="valdiv">
			<p class="data">60</p>
			<p class="humdunit">%</p>
		</div>
	</div>

	<!-- pressure display -->
	<div class="weather_data_display">
		<p class="datalabel">Barometric Pressure</p>
		<div id="bmppres_val" class="valdiv">
			<p class="data">100500</p>
			<p class="humdunit">Pa</p>
		</div>
	</div>
</div>

<div id="unitselector">
	<form>
		<label for="tempunits" style="font-weight: bold">Temperature units: </label>
		<input type="radio" id="cels" name="tempunits" value="C" checked></input>
		<label for="">°C</label>
		<input type="radio" id="fahr" name="tempunits" value="F"></input>
		<label for="">°F</label>
		<input type="radio" id="kelvin" name="tempunits" value="F"></input>
		<label for="">°K</label>
		<label for="presunits" style="font-weight: bold">Pressure units: </label>
		<input type="radio" id="pascals" name="presunits" value="Pa" checked></input>
		<label for="">Pa</label>
		<input type="radio" id="psi" name="presunits" value="Psi"></input>
		<label for="">Psi</label>
		<input type="radio" id="mmhg" name="presunits" value="mmHg"></input>
		<label for="">mmHg</label>
	</form>
</div>
{% endblock %}
