{% extends 'base.html' %}

{% block head %}
<title>Single Day Weather Data</title>
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/app.css">
{% endblock %}

{% block body %}
<!-- main header -->
<div id="header">
	<h1>View/Download data for a single day</h1>
</div>

<!-- starting and ending date input -->
<div id="dateinput">
	<form>
		<label for="date" style="font-weight: bold">Date: </label>
		<input type="date" name="date" id="date">
		<input type="submit" value="Submit" id="datesubmit">
	</form>
</div>

<!-- display information while the server is still exporting data and generating graphs-->
<p id="info"></p>

<!--  flexbox row for the report file and image graph -->
<div id="row">
	<!-- report text file iframe div -->
	<div id="reportfile">
		<iframe src="" title="Report Text File"></iframe>
	</div>

	<!-- graph image div -->
	<div id="imageplot">
		<img src="" title="Plot Image File">
	</div>
</div>

<!-- download links for exported data and reports -->
<div id="downloadlinks">
	<p style="font-size: 16px;font-weight: bold;">Download exported data as .csv</p>
	<a id="exported" href="#">Weather data</a>
	<a id="aggexported" href="#">Aggregated weather data</a>
</div>
<br>
<script src="/static/js/singleday.js" charset="utf-8"></script>
{% endblock %}

