<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- This page is where historical weather data of a particular day can be viewed.
    It displays statistics, a graph, and the times of the day when the extreme values occurred. -->
        <meta charset="utf-8">
        <title>Weather Log History</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weather_logs.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}" charset="utf-8"></script>
    </head>

    <body>
        <!-- main header -->
        <h1>Weather Log Statistics</h1>
        <hr>
        <!-- user input date -->
        <form id="dateform">
            <label for="rawdatadate">Choose a datalog to load:</label><br>
            <select name="rawdatadate">
                {% for date in dates %}
                    {% if loop.index == 10 %}
                        <option value={{ date }} selected>{{ date }}</option>
                    {% else %}
                        <option value={{ date }}>{{ date }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" name="submit" value="submit">
        </form>

        <!-- main grid container -->
        <div id="completedview">
            <!-- column 1 -->
            <div id="main-col1">
                <!-- statistics section -->
                <h2>Weather Data Statistics</h2>
                <!-- temperature statistics table with dummy data -->

                <div id="stattables">

                </div>

                <!-- button field -->
                <div class="vbuttonfield">
                    <!-- button to download the data for a day as .txt -->
                    <button class="vbutton" type="button" name="txtdlbutton ">download data as .txt</button>
                    <!-- redirect back to the index page -->
                    <button class="vbutton" type="button" name="mainpagebutton" onclick="document.location.href='/index';">Back to main page</button>
                </div>
            </div>

            <!-- main column 2 -->
            <div id="main-col2">
                <!-- graph of the weather data for a day -->
                <h2>Weather Data Graph</h2>
                <div id="weathergraph" >
                    <img src="{{ url_for('static', filename='files/plots/') }}"
                    alt="weather graph">
                </div>

                <!-- extreme weather data values for the day -->
                <h2>Times of the day with minimum and maximum values</h2>
                <div id="timesdiv">

                    <!-- extreme value times -->
                    <div class="columntimes-flex-container">
                        <div class="columntime">
                            <p>min. </p>

                            <p class="time">00:00</p>
                        </div>
                        <div class="columntime">
                            <p>max. </p>
                            <p class="time">12:00</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- view to show on first session -->
        <div id="emptyview">
            <p class="prompt">Please select a raw data log to load from the dropdown.</p>
        </div>

        <!-- view to show when the processed data is loading -->
        <div id="loadingview">
            <p class="prompt">Generating data...</p>
        </div>







        <script type="text/javascript">

            function requestData(ev)
            {
                ev.preventDefault();
                data1 = $.ajax ({
                    method:'POST',
                    url: {{ url_for('log_history')|tojson }},
                    data: $(this).serialize()
                }).done(showdata);
            }

            function showdata(requesteddata)
            {
                weatherdata = requesteddata.data;
                plot_url = requesteddata.plot_url;

                statistical_data = ['mean', 'std', 'min', 'max'];

                // get the parent element
                parent = document.getElementById("stattables");
                for (x in weatherdata)
                {
                    // create header
                    var header = document.createElement("h3");
                    var headertext = document.createTextNode(x);
                    header.appendChild(headertext);

                    // create table
                    var table = document.createElement("table");
                    var tbody = document.createElement("tbody");

                    // create new row header
                    var newheader = document.createElement("tr");
                    for (sd of statistical_data)
                    {
                        console.log(sd);
                        var newdata = document.createElement("th");
                        var newdatatext = document.createTextNode(sd);
                        newdata.appendChild(newdatatext);
                        newheader.appendChild(newdata);
                    }

                    var statdatarow = document.createElement("tr");
                    // add metrics
                    for (sd of statistical_data)
                    {
                        var newdata = document.createElement("td");
                        var newdatatext = document.createTextNode(weatherdata[x][sd]);
                        newdata.appendChild(newdatatext);
                        statdatarow.appendChild(newdata);
                    }

                    tbody.appendChild(newheader);
                    tbody.appendChild(statdatarow);
                    // append new table to parent
                    table.appendChild(tbody);
                    parent.appendChild(header);
                    parent.appendChild(table);
                }

                setview("complete");
            }

            function setview(status)
            {
                $("#completedview").css({display: "none"});
                $("#emptyview").css({display: "none"});
                $("#loadingview").css({display: "none"});
                switch (status) {
                    case "complete":
                        $("#completedview").css({display: "grid"});
                        break;
                    case "loading":
                        $("#loadingview").css({display: "block"});
                        break;
                    default:
                        $("#emptyview").css({display: "block"});
                }
            }

            $("#dateform").on('submit', requestData);
        </script>
    </body>
</html>
