<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- This page is where historical weather data of a particular day can be viewed.
    It displays statistics, a graph, and the times of the day when the extreme values occurred. -->
        <meta charset="utf-8">
        <title>Weather Log History</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weather_logs.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}" charset="utf-8"></script>
    </head>

    <body>
        <!-- main header -->
        <h1>Weather Log Statistics</h1>
        <hr>
        <!-- user input of the date -->
        <form id="dateform">
            <label for="rawdatadate">Choose a datalog to load:</label><br>
            <select name="rawdatadate">
                {% for date in dates %}
                        <option value={{ date }}>{{ date }}</option>
                {% endfor %}
            </select>
            <input id=submitdate type="submit" name="submit" value="submit">
        </form>

        <!-- view that displays the completed data after it has been retrieved by javascipt -->
        <div id="completedview">
            <!-- column 1 -->
            <div id="main-col1">
                <!-- statistics section -->
                <h2>Weather Data Statistics</h2>
                <div id="stattables">
                    <!-- statistics table division to be filled in javascript -->
                </div>

                <!-- button field -->
                <div class="vbuttonfield">
                    <!-- button to download the data for a day as .txt -->
                    <button class="vbutton" type="button" name="txtdlbutton ">download data as .txt</button>
                    <!-- redirect back to the index page -->
                    <button class="vbutton" type="button" name="mainpagebutton" onclick="document.location.href='/index';">Back to main page</button>
                </div>
            </div>

            <!-- main column 2 -->
            <div id="main-col2">
                <!-- graph of the weather data for a day -->
                <h2>Weather Data Graph</h2>
                <div id="weathergraph" >
                    <!-- url to be filled in javascript -->
                    <img src="" alt="weather graph">
                </div>

                <!-- extreme weather data values for the day -->
                <h2>Times of the day with minimum and maximum values</h2>
                <div id="timesdiv">
                    <!-- extreme value times divison to be filled in javascript -->
                </div>
            </div>
        </div>

        <!-- view to show on first session -->
        <div id="emptyview">
            <p class="prompt">Please select a raw data log to load from the dropdown.</p>
        </div>

        <!-- view to show when the processed data is loading -->
        <div id="loadingview">
            <p class="prompt">Loading data...</p>
        </div>

        <!-- view to show when the data is being generated -->
        <div id="generatingview">
            <p class="prompt">Generating data...</p>
        </div>

        <script src="{{ url_for('static', filename='js/log_history.js') }}" charset="utf-8"></script>
    </body>
</html>
